
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 50px auto;
}


.buttons {
    display: flex;
    flex-direction: column;
}

.h1{
    text-align: center;
    border: black;

}